<template>
<div class="modal fade" id="addIngredient" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Ingrediente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form @submit.prevent="saveIngredient">
                    <div class="form-group">
                        <label>Ingrediente</label>
                        <input type="text" class="form-control" placeholder="Ingresa el nombre del ingrediente" v-model="name">
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <input type="text" class="form-control" placeholder="Ingresa la url de una imagen" v-model="image">
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import EventBus from'../../eventBus';

export default {
    data(){
        return {
            name:null,
            image:null
        }
    },
    methods:{
        saveIngredient: function(){
            let currentRoute = window.location.pathname;
            axios.post(`http://127.0.0.1:8000${currentRoute}/ingredients`,{
                name:this.name,
                image:this.image
            })
            .then(function(res){
                console.log(res);
                $('#addIngredient').modal('hide')
                EventBus.$emit('ingredient-added',res.data.ingredient)

            })
            .catch(function(err){
                console.error(err);
            });
        }
    }
}
</script>

<style>

</style>
