<template>
<div class="row">
    <spinner-component v-show="loading"></spinner-component>
    <div class="col-sm" v-for="ingredient in ingredients" :key="ingredient.id">
        <div class="card text-justify-align-content-start" style="width:538px; height:352px; margin-top:40px; background-color:#E3F2FD">
            <div class="row no-gutters">
                <div class="col-md-*">
                    <img v-bind:src="ingredient.image" class="card-img-top" style="height: 130px; width:130px; margin-top:25px; margin-left:15px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-center font-weight-bold">{{ingredient.name}}</h5>
                        <p class="card-text text-justify font-italic">Description Ingredient</p>
                        <a href="/saucer/" class="btn btn-outline-primary btn-sm">Ingredientes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import EventBus from '../../eventBus';

export default {
    data() {
        return {
            ingredients: [],
            loading: true
        }
    },
    created() {
        EventBus.$on('ingredient-added', data => {
            this.ingredients.push(data)
        })
    },
    mounted() {
        let currentRoute = window.location.pathname;
        axios
            .get(`http://127.0.0.1:8000${currentRoute}/ingredients`)
            .then((res) => {
                this.ingredients = res.data;
                this.loading = false;
            })
    }
}
</script>
