
/* NUEVAS CLASES */
.container-saucer{
  background-image: url(../images/wallpapers/platillo.jpg);
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: -moz-box;
  display: -ms-flexbox;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 12;
}
  
.card-img-new {
  border-radius: 10px;
}

.card-body-new {
  background: -webkit-linear-gradient(top, transparent, #000000);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.511);
  color: rgba(255,255,255);
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -10px
}

.card-title-new {
  font-size: 22px;
}

.card-price-new {
  font-size: 18px;
}

.btn-primary-new {
  margin-right: 10px;
}

.container-login{
  background-image: url(../images/wallpapers/login.jpg);
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: -moz-box;
  display: -ms-flexbox;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* padding: 15px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 12;
}

.card-login {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background: -webkit-linear-gradient(top, transparent, #000000);
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  color: rgba(255,255,255);
  background-color: rgba(0, 0, 0, 0.244);
  margin-top: 50px;
  margin-bottom: 2px;
  margin-left: 15px;
  margin-right: 15px;
}

.login100-form-logo{
  font-size: 60px; 
  color: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: -webkit-linear-gradient(top, transparent, #FFFFFF);
  background-color: rgba(255, 255, 255, 0.600);
  /* background-color: rgba(255, 255, 255); */
  /* background-color: #ffffff78; */
  margin: 0 auto;
}

.title-login {
  font-size: 26px;
  text-align: center;
  padding: 20px;
}

.container-create-saucer{
  background-image: url(../images/wallpapers/platilloCreate.jpg);
  width: auto;
  height: auto;
  min-height: 100vh;
  display: -moz-box;
  display: -ms-flexbox;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 12;
}

.card-plantilla {
  color: rgba(255,255,255);
  border: 0px solid rgba(0, 0, 0, 0.125);
  background: -webkit-linear-gradient(top, transparent, #000000);
  font-size: 17px;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.244);
  align-items: center;
  border-radius: 10px;
  margin: 15px;
}

.container-edit-saucer{
  background-image: url(../images/wallpapers/platilloEdit.jpg);
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: -moz-box;
  display: -ms-flexbox;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 12;
}

.card-saucer-edit {
  color: rgba(255,255,255);
  border: 0px solid rgba(0, 0, 0, 0.125);
  background: -webkit-linear-gradient(top, transparent, #000000);
  font-size: 17px;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.244);
  align-items: center;
  border-radius: 10px;
  margin: 15px;
}

.img-edit-saucer {
  border-radius: 10px;
  height: 156px;
  width: 185px;
  background-color: #EFEFEF;
  margin-top: -45px;
}

.div-search-index {
  float: right;
  width: 100%;
  height: auto;
  margin-top: -14px;
  /* margin-bottom: 13px;*/
}

.input-small {
  height: 28px;
}

.pagination-new {
  float: right;
}

.form-control-new {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.font-sidebar {
  color: #ffffff;
  font-size: large;
}

.border-bottom-new {
    border-bottom: 1px solid #000000 !important;
}

.border-right-new{
  border-bottom: 1px solid #000000 !important;
}

.nav-link-new {
  color: rgb(255, 255, 255);
}

.list-group-item-new {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.container-fluid-new {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container-new-main {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}


.container-welcome {
  background-image: url(../images/wallpapers/platilloEdit.jpg);
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: -moz-box;
  display: -ms-flexbox;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 12;
  
}

.card-reset {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  margin-top: 30px;
  background: -webkit-linear-gradient(top, transparent, #000000);
  background-color: rgba(0, 0, 0, 0.244);
  height: 320px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 16px;
}


.container-reset {
  background-image: url(../images/wallpapers/resetWallpaper.jpg);
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: -moz-box;
  display: -ms-flexbox;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 12;
}

.card-header-reset {
  padding: 1.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.modal-container.active {
  display: inline-block;
  position: relative;
}


.modal-container.active {
  position: fixed;
  width: 400px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 141px;
  left: 246px;
}

.modal-container img {
  z-index: 1;
}

.modal-container.active::after {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: (0,0,0,0.56);
  z-index: 0;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.justify-content-center-new {
  margin-top: 40px;
  justify-content: center !important;
}

.container-register {
  background-image: url(../images/wallpapers/registerOne.jpg);
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: -moz-box;
  display: -ms-flexbox;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 12;
}


.card-register {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  margin-top: 30px;
  background: -webkit-linear-gradient(top, transparent, #000000);
  background-color: rgba(0, 0, 0, 0.6);
  height: auto;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.card-header-register {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(51, 33, 33, 0.03);
  border-bottom: 1px solid rgb(255, 255, 255);
}


.container-reset-confirm {
  background-image: url(../images/wallpapers/registerOne.jpg);
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: -moz-box;
  display: -ms-flexbox;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 12;
}


.card-reset-confirm {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  margin-top: 30px;
  background: -webkit-linear-gradient(top, transparent, #000000);
  background-color: rgba(0, 0, 0, 0.6);
  height: auto;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.card-header-reset-confirm {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(51, 33, 33, 0.03);
  border-bottom: 1px solid rgb(255, 255, 255);
}